*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height:250vh;
  overflow-y: scroll;
  background: black;
  width: 100%;
}

@font-face {
  font-family: 'TT Interphases Pro';
  src: url('./assets/fonts/tt-interphases-pro-trl.lt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'TT interphases Pro Bold';
  src: url('./assets//fonts/TT-Interphases-Pro-Trial-DemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}