.main{
    width: 1920px;
    height: 850px !important;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.557);
    backdrop-filter: blur(8px);
    background-image: url('../../assets//images/Group.png');
    display: flex;
    overflow: hidden;
    padding-left: 320px;
    padding-top: 196px;
}

.slider-container {
    position: absolute; 
    top: 320px;
    right: -250px;
    transform: matrix(1, -0.6, 0.9, 0.6, 1, 1) ;
    width: 1609px; 
    background: #fff;   
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
    perspective: 1500px; 
    padding: 0px;
    background: transparent;

}
.slider-containerReverse {
    position: absolute; 
    top: 480px; 
    right: -380px; 
    transform: matrix(1, -0.6, 0.9, 0.6, 1, 1) ;
    width: 1609px; 
    background: #fff; 
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    perspective: 1500px; 
    padding: 0px;
    background: transparent;

}
  
 .description{
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    font-family: TT Interphases Pro;
 }
  .text-video{
    width: 566px;
  }
  @keyframes revealText {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  

  
  .text-container {
    display: inline-block;
    font-size: 52px;
    font-weight: bold;
    width: 100%;
    color: white;
    position: relative;
    text-align: start;
  }
  
  .text {
    position: absolute;
    width: 100%;
    opacity: 0;
    filter: blur(10px);
    animation: fadeInOutBlur 7s infinite; 
  }
  
  .text:nth-child(1) { animation-delay: 0s; }
  .text:nth-child(2) { animation-delay: 4s; }
  .text:nth-child(3) { animation-delay: 9s; }

  
  @keyframes fadeInOutBlur {
    0% { opacity: 0; filter: blur(10px); } 
    20% { opacity: 1; filter: blur(0); } 
    50% { opacity: 1; filter: blur(0); } 
    70% { opacity: 1; filter: blur(10px); } 
    100% { opacity: 0; filter: blur(10px); } 
  }
  .description_container{
    width: fit-content;
    display: flex;
    gap: 14px;
    align-items: center;
  }
  .emoji{
    width: 25px;
    height: 37px;
    animation: fastShake 0.8s infinite; 
  }
  @keyframes fastShake {
    0% {
        transform: rotateZ(9deg);
    }
    25% {
        transform: rotateZ(-20deg);
    }
    50% {
        transform: rotateZ(9deg);
    }
    75% {
        transform: rotateZ(-20deg);
    }
    100% {
        transform: rotateZ(9deg);
    }
}
.engagement{
  font-family: 'TT Interphases Pro';
  color: white;
  font-size: 20px;
  line-height: 28.8px;
  max-width: 634px;
  margin-top: 18px;
  font-weight: 400;
}
.button_box{
  display: flex;
  gap: 27px;
  padding-top: 40px;
}
.but{
  padding: 15px 20px;
  font-family: 'TT Interphases Pro';
  border-radius: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.started{
  background: rgba(70, 203, 25, 1);
  color: black;
  border: none;
}
.browse{
  background: transparent;
  color: white;
  border: 1px solid white;
}