.card-container {
    position: relative;
    display: inline-block;
  }
  
  .card {
    width: 183px;
    height: 226px;
    border-radius: 12px;
    transform: rotate(90deg);
    
  }
  
  .card-reflection {
    position: absolute;
    bottom: -20px; 
    right: -130px;
    width: 100%;
    height: 40px;
    opacity: 0.12;
    filter: blur(6px);
    transform: rotate(90deg);

  }
  
  .card-reflection img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
  }