.header {
  width: 100%;
  min-width: 1920px; /* Минимальная ширина 1920px */
  margin: 0 auto;
  position: sticky;
  top: 0;
  background: #0000009b;
  display: grid;
  grid-template-columns: 1fr auto auto; /* Лого, навигация, кнопки */
  align-items: center;
  justify-content: center;
  padding: 10px 20px; /* Отступы внутри */
  padding: 28px 0px;
  backdrop-filter: blur(8px);
  z-index: 999;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr auto; /* Лого слева, контент справа и кнопки */
  width: 100%;
  max-width: 1283px; /* Максимальная ширина */
  gap: 20px;
  align-items: center;
  margin: 0 auto ;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 26px;
}

.logo {
  display: flex;
  gap: 8px;
}

.logo_title {
  color: green;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #fff; /* Белый текст */
  font-family: TT Interphases Pro;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.get-started,
.login {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.get-started {
  background: #007bff;
  color: white;
}

.login {
  background: transparent;
  color: #007bff;
}

.dropdown {
  color: #333;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  text-indent: -2px;
  padding-right: 20px;
}


.dropdown option {
  background: #fff;
  color: #333;
  font-size: 16px;
  padding: 10px;
}

.dropdown option:checked {
  background: #007bff;
  color: #fff;
}