/* Обертка для бесшовной прокрутки */
.slider-wrapper {
    width: 100%;
    overflow: hidden; /* Скрываем выходящие элементы */
    position: relative;
    background: transparent;
}

/* Бесконечная прокрутка */
.slider-track {
    display: flex;
    width: calc(250px * 7); /* 7 элементов с шириной 250px */
    animation: scroll 15s linear infinite;
}

/* Индивидуальные слайды */
.slider-item {
    flex-shrink: 0;
    width: 220px;
    padding: 0;
    margin: 0px 10px;
    height: fit-content;
}

/* Анимация бесшовного движения */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%); /* Двигаем на всю ширину (7 элементов) */
    }
}
