.slider-wrapper {
    width: 100%;
    overflow: hidden; 
    position: relative;
    background: transparent;
}

.slider-track {
    display: flex;
    width: calc(250px * 7);
    animation: scroll 15s linear infinite;
}
.slider-item {
    flex-shrink: 0;
    width: 220px;
    padding: 0;
    margin: 0px 10px;
    height: fit-content;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%); 
    }
}
