.button-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .animated-button {
    border-image-source: linear-gradient(90deg, 
    #66DB3F 0%, 
    #66DB3F 15%, 
    #40FF00 50%, 
    #66DB3F 85%, 
    #66DB3F 100%);
  border-image-slice: 1;
  background-color: #40FF00;
    color: black;
    padding: 16px 18px;
    border: 2px solid #28a745;
    border-radius: 56px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    font-family: 'TT Interphases Pro';
    z-index: 300;
    box-shadow: 0px 4.72px 43.44px rgba(70, 203, 25, 0.8);
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .border-top-dot {
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #28a745;
    border-radius: 50%;
    left: 50%;
    top: 1px;
    transform: translate(-50%, -50%);
    animation: rotate-border 2s linear infinite;
    box-shadow: 0px -5px 10px 1px rgba(40, 255, 69, 1);
    opacity: 0.5;

  }
  
  @keyframes rotate-border {
    0% {
        width: 100px;
        box-shadow: 0px -5px 10px 1px rgba(40, 255, 69, 1);
      }
      20%{
        left: 50%;
        top: 1px;
        width:8px;
           box-shadow: 0px -5px 10px 1px rgba(40, 255, 69, 1);
      }
        40%{
        width:8px;
        box-shadow:none;
        top:1px;
        left: 92%;    
        }
        47%{
            width:8px;
            box-shadow:none;
            top:16px;
            left: 98%;  
        }
        50%{
            width:8px;
            box-shadow:none;
            top:55%;
            left: 98%;  
        }
        53%{
            width:8px;
            box-shadow:none;
            top:16px;
            left: 98%;  
        }
        60%{
            width:8px;
            box-shadow:none;
            top:1px;
            left: 92%;  

        }
        80%{
            left: 50%;
            top: 1px;
            width:8px;
            box-shadow: 0px -5px 10px 1px rgba(40, 255, 69, 1);
          }
      100%{
        width: 100px;
        box-shadow: 0px -5px 10px 1px rgba(40, 255, 69, 1);

      }
    
  }

  .border-bottom-dot {
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #28a745;
    border-radius: 50%;
    left: 50%;
    bottom: -7px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 10px 1px rgba(40, 255, 69, 1);

    opacity: 0.5;
    animation: rotate-border-bottom 2s linear infinite;
  }
  .free{
    font-family: 'TT interphases Pro Bold';


  }
  
  
  @keyframes rotate-border-bottom {
    0% {
        width: 100px;
        box-shadow: 0px 5px 10px 1px rgba(40, 255, 69, 1);
        bottom: -7px;
      }
      20%{
        left: 50%;
        bottom: 1px;
        width:8px;
        box-shadow: 0px 5px 10px 1px rgba(40, 255, 69, 1);
        bottom: -7px;

      }
      40%{
        width:8px;
        box-shadow:none;
        bottom:-7px;
        left: 8%;    
        }
        47%{
            width:8px;
            box-shadow:none;
            bottom:14px;
            left:1%;  
        }
        50%{
            width:8px;
            box-shadow:none;
            bottom:25px;
            left: 1%;  
        }
        53%{
            width:8px;
            box-shadow:none;
            bottom:14px;
            left:1%;  
        }
        60%{
            width:8px;
            box-shadow:none;
            bottom:-7px;
            left: 8%;    
        }
        80%{
            width:8px;
            box-shadow:none;
            bottom:-7px;
            left: 50%;  
            box-shadow: 0px 5px 10px 1px rgba(40, 255, 69, 1);
        }
        100%{
            width: 100px;
            box-shadow: 0px 5px 10px 1px rgba(40, 255, 69, 1);
            bottom: -7px;
        }
}